@model WEBAPP_TARDE.Entidades.PermissaoEntidade

<div style="background-color:white;margin:auto;width:500px;height:300px;border-radius:10px;">
<form action="/Permissao/SalvarDados" method="post">
<div class="modal-header">
<h1 style="color:black;margin:auto;">Cadastro de Permissão</h1>
</div>
<div style="margin-left:20px;margin-top:20px;">
<label style="display:block;color:black;">Descrição</label>
<input type="text" name="Descricao" class="input-group" style="width:50%;" />
<br />
</div>
<button type="submit" class="btn" style="color:white;background-color:black;left:220px;position:relative;top:70px;">Salvar</button>






</form>
</div>