<h1>Cadastro do Usuario</h1>

<form action="" method="post">
<div class="form-group">
<label>Nome</label>
<input type="text">
<br/>
<br />

<label>Senha</label>
<input type="password">

        <br />
        <br />


        <label>Login</label>
        <input type="text" name="Login">




<div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" name="active">
    <label class="form-check-label" for="flexCheckDefault">
        Manter Login?

    </label>
      



</div>
</div>
</form>
<button type="submit" class="btn btn-primary">Cadastrar</button>
