
<h1>Index do Usuario</h1>


<table class="table table-primary">

    <thead>
        <tr>
            <th>Codigo</th>
            <th>Nome</th>
            <th>Telefone</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>4</td>
            <td>Alexandre</td>
            <td>2242424</td>
        </tr>
        <tr>
            <td>24</td>
            <td>A</td>
            <td>2323</td>
        </tr>
        <tr>
            <td>4232</td>
            <td>Adsd</td>
            <td>2323234</td>
        </tr>
        <tr>
            <td>55</td>
            <td>bbbb</td>
            <td>767654</td>
        </tr>
        <tr>
            <td>89</td>
            <td>gggg</td>
            <td>4343434</td>
        </tr>

    </tbody>



</table>


