<body style="background-color:white">

    <div class="row">

        <div class="col-4">
        </div>


        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <center style="color:black"><h1>Cadastro de Fornecedor</h1></center>
                </div>

                <div class="card-body">

                    <form action="/Fornecedores/Cadastro" method="post">
                        <label style="color:black">Nome da empresa</label>
                        <input type="text" name="nome" class="form-control" />
                        <br />

                        <label style="color:black">Telefone</label>
                        <input type="text" name="telefone" class="form-control" />
                        <br />

                        <center>
                            <button type="submit" class="btn btn-success">
                                Salvar Fornecedor
                            </button>
                        </center>




                    </form>
                </div>
            </div>
        </div>


        <div class="col-4">
        </div>





    </div>

</body>










